html{
    height: 100%;
    width: 100%;
}
body{
    background-color: #e0e0e0;
    box-sizing: border-box;
    margin: 0;
}

.main-container{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-sec{
    height: 400px;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width 100% to help with the button size responsiveness */
    width: 100%;
}
.button{
    flex: 0 1 300px;
    margin: 0 5px;
    height: 100px;

    border: 0px;
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover{

    border-radius: 25px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #d6d5d5,
                 -20px -20px 60px #ffffff;
}
.button:active{
    
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px #bebebe,
                inset -20px -20px 60px #ffffff;
}

.text{

}